{% extends "admin/index.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
            <div class="info-box bg-gradient-info">
                <span class="info-box-icon"><i class="fas fa-dollar-sign"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Ventas del Mes</span>
                    <span class="info-box-number" style="font-size: 1.5rem;">${{ metricas.total_mes|default:"0" }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="info-box bg-gradient-danger">
                <span class="info-box-icon"><i class="fas fa-truck"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pendientes</span>
                    <span class="info-box-number" style="font-size: 1.5rem;">{{ metricas.pendientes|default:"0" }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
            <div class="info-box bg-gradient-success">
                <span class="info-box-icon"><i class="fas fa-star"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Top: {{ metricas.top_nombre|default:"N/A" }}</span>
                    <span class="info-box-number" style="font-size: 1.5rem;">{{ metricas.top_cantidad|default:"0" }} <small>unid.</small></span>
                </div>
            </div>
        </div>
    </div>

    
</div>

{{ block.super }}
{% endblock %}



